[Unit]
Description=flask client service
[Install]
WantedBy=multi-user.target
[Service]
Type=simple
User=root
PermissionsStartOnly=true
ExecStart=python3 /app.py
Restart=on-failure
TimeoutSec=600 